* {
	margin:0;
	padding: 0;
}

a {
	text-decoration: none;
}
a:visited {
	color: inherit;
}
.site_header {
	padding: 1rem;
	background: #3F51B5;
}

.site_title {
	margin: auto;
	max-width: 90rem;
	overflow:hidden;

}
.site_title h1 {
	float: left;
}
.site_title a {
	color: #fff;
	font-family: sans-serif;
}
.title_menu {
	float: right;
	line-height: 2rem;
}

.content_wrapper {
	max-width: 90rem;
	margin: auto;
	display: flex;
	margin-top: 1rem;
	align-items: end;
}
.content {
	flex: 1 0 70%;
	margin-right: 1rem;
	
}
.post_title a {
	font-family:sans-serif;
	color:#3F51B5;

}
.post_entry {
	margin-bottom: 1rem;
	background: #f3eeeecf;
	padding: 1rem;
}
.post_content  {
	font-family: sans-serif;
	padding-top: .5rem;
}
.post_details {
	font-family:sans-serif;
	background: #f3eeeecf;
	padding: 1rem;
}
.post_detail_meta {
	margin-top: 0.5rem;
}
.post_detail_meta a {
	color: #3F51B5;
}
.post_detail_content {
	padding-top: 1rem;
	font-size:18px;
}
.post_info {
	border-bottom: 1px solid;
    padding-bottom: 5px;
}
.post_info h1 {
	color:#3F51B5;
}
.new_post {
	font-family:sans-serif;
	background: #f3eeeecf;
	padding: 1rem;
}
.new_post h1 {
	font-size: 2rem;
}
.new_post form {
	padding: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.new_post form p {
	margin-bottom: 1rem;
}

.new_post form input,.new_post form textarea {
	padding: 1rem;
	border:none;
	width: 98%;

}
.new_post label {
	display: block;
	font-size: 18px;
}
.new_post button {
	cursor: pointer;
	padding: 1rem;
	font-size: 1.2rem;
	border:none;
	background: #3F51B5;
	color: #fff;
	font-family: sans-serif;
	outline: none;
}
.new_post button:hover {
	background: #e91e63;
}

.sidebar {
	background: #ddd;
	padding: 1rem;
}